extends layout

block content
  
  .container    
    h3 Customer details
    .card
      .card-content
        .card-title #{customer.name}
        h5= customer.code
        h5= customer.city
        h5= customer.machine_name
        h5= customer.machine_serial_number
        h5 Rates: B/W: #{customer.bw_rate} / CLR: #{customer.clr_rate}
        h5= customer.observations

      
    .card-action
        a.btn.btn-primary.amber(href="/edit-customer/" + customer._id) Edit Customer
        a.btn.btn-primary.red.delete-customer.right(href="", data-id=customer._id) Delete Customer